h3, form.center, p {
    text-align: center;
    align-content: center; /* none of the align- or justify- are working...how to get the form to be centered?? */
    align-items: center;
    justify-content: center;
}

#forecastResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#forecast1 {
    color: royalblue;
}

#forecast2 {
    color: rebeccapurple;
}
